.tabular-form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    .tabular-form {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
}

.container {
    margin-top: 30px;
    width: 100%;
}

.img-responsive {
    margin: auto;
    width: 700px;
    height: 300px;
}

