<div class="tabular-form">
  <form class="form-horizontal" [formGroup]="">
    <fieldset>
      <div id="legend">
        <legend align="center">Log in</legend>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Username:</label>
        <input type="text" formControlName="username">
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Password:</label>
        <input type="password" formControlName="password">
      </div>

      <div class="form-group buttons">
        <button class="btn btn-default" type="reset">Cancel</button>
        <button class="btn btn-success" type="submit">Register</button>
      </div>

    </fieldset>
  </form>
</div>