<div class="tabular-form">
  <legend align="center">{{auth.currentUserDisplayName | upperCaseFirstLetter}}'s profile</legend>
</div>

<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <p class="advertisement" align="center" appStrongItem>Add new advertisement</p>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">

          <!-- Start of "Add new advertisement" form -->
          <form (ngSubmit)="createAdvertisement(createForm.value)" #createForm=ngForm novalidate>
            <div class="form-group">
              <label class="control-label col-md-4  "> Property type </label>
              <div class="controls col-md-8 " style="margin-bottom: 10px">
                <label class="radio-inline"><input required [(ngModel)]="advertisement.propertyType" type="radio" name="propertyType" value="Apartment"  style="margin-bottom: 10px">Apartment</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.propertyType" type="radio" name="propertyType" value="House"  style="margin-bottom: 10px">House</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.propertyType" type="radio" name="propertyType" value="Hotel"  style="margin-bottom: 10px">Hotel</label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-4"> Owner e-mail address</label>
              <div class="controls col-md-8 ">
                <input disabled class="input required -md  textinput required  textinput required  form-control" value="{{auth.currentUserDisplayEmail}}"
                  style="margin-bottom: 10px" />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-4  "> Owner full name </label>
              <div class="controls col-md-8 ">
                <input required class="input required -md textinput required  textinput required  form-control" name="ownerFullname"
                  placeholder="Your Frist name and Last name" [(ngModel)]="advertisement.ownerFullname" style="margin-bottom: 10px"
                  type="text" />
              </div>
            </div>

            <div id="div_id_company" class="form-group">
              <label for="id_company" class="control-label col-md-4  "> Owner phone </label>
              <div class="controls col-md-8 ">
                <input required class="input required -md textinput required  textinput required  form-control" name="ownerPhone"
                  placeholder="Your phone" [(ngModel)]="advertisement.ownerPhone" style="margin-bottom: 10px" type="phone"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-4">Property address </label>
              <div class="controls col-md-8 ">
                <input required class="input required -md textinput required  textinput required  form-control" name="propertyAddress"
                  placeholder="Your property address" [(ngModel)]="advertisement.propertyAddress" style="margin-bottom: 10px"
                  type="text" />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-4  "> Rooms count </label>
              <div class="controls col-md-8 " style="margin-bottom: 10px">
                <label class="radio-inline"><input required [(ngModel)]="advertisement.roomsCount" type="radio" name="roomsCount" value="1"  style="margin-bottom: 10px">1</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.roomsCount" type="radio" name="roomsCount" value="2"  style="margin-bottom: 10px">2</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.roomsCount" type="radio" name="roomsCount" value="3"  style="margin-bottom: 10px">3</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.roomsCount" type="radio" name="roomsCount" value="4"  style="margin-bottom: 10px">4</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.roomsCount" type="radio" name="roomsCount" value="5"  style="margin-bottom: 10px">5</label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-4  "> Beds count </label>
              <div class="controls col-md-8 " style="margin-bottom: 10px">
                <label class="radio-inline"><input required [(ngModel)]="advertisement.bedsCount" type="radio" name="bedsCount" value="2"  style="margin-bottom: 10px">2</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.bedsCount" type="radio" name="bedsCount" value="4"  style="margin-bottom: 10px">4</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.bedsCount" type="radio" name="bedsCount" value="6"  style="margin-bottom: 10px">6</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.bedsCount" type="radio" name="bedsCount" value="8"  style="margin-bottom: 10px">8</label>
                <label class="radio-inline"><input required [(ngModel)]="advertisement.bedsCount" type="radio" name="bedsCount" value="10"  style="margin-bottom: 10px">10</label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-4">Price per night </label>
              <div class="controls col-md-8 ">
                <input required class="input required -md textinput required  textinput required  form-control" name="propertyPrice"
                  placeholder="Your property price per night" [(ngModel)]="advertisement.propertyPrice" style="margin-bottom: 10px"
                  type="text" />
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-4">Description </label>
              <div class="controls col-md-8 ">
                <textarea rows="5" required class="input required -md textinput required  textinput required  form-control"
                  name="description" placeholder="Extra info about advertisement..." [(ngModel)]="advertisement.description"
                  style="margin-bottom: 10px; resize:none; overflow:hidden;" type="text" maxlength="250"></textarea>
              </div>
            </div>

            <div class="form-group buttons">
              <button id="add" type="submit" class="button btn btn-success" (click)='createAdvertisement()' [disabled]="!createForm.valid">Add advertisement</button>
            </div>
          </form>

        </div>
        <!-- End of "Add new advertisement" form -->

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <p class="advertisement" align="center" appStrongItem>My advertisements</p>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <!-- Start of "My advertisements" form -->
        <div class="table-responsive">
          <table class="table table-hover adsTable">
            <thead>
              <tr>
                <th class="advInfo">Type</th>
                <th class="advInfo">Phone</th>
                <th class="advInfo">Address</th>
                <th class="advInfo">Rooms</th>
                <th class="advInfo">Beds</th>
                <th class="advInfo">Price</th>
                <th class="advInfo">Delete?</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let advertisement of advertisementsList | async">
                <td class="advInfo"> {{advertisement.propertyType}}</td>
                <td class="advInfo"> {{advertisement.ownerPhone}}</td>
                <td class="advInfo"> {{advertisement.propertyAddress}}</td>
                <td class="advInfo"> {{advertisement.roomsCount}}</td>
                <td class="advInfo"> {{advertisement.bedsCount}}</td>
                <td class="advInfo"> {{advertisement.propertyPrice}}</td>
                <td align="center"><button type="submit" class="button btn btn-danger" (click)='deleteAdvertisement(advertisement.$key)'>X</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End of "My advertisements" form -->

      </div>
    </div>
  </div>
</div>