<div class="container">
  <div style="text-align:center">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" appStrongItem>{{title | upperCaseFirstLetter}}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a routerLink="/" routerLinkActive="active" appUnderlineItem>Home</a></li>
          <li><a routerLink="/advertisement/apartments" routerLinkActive="active" appUnderlineItem>Apartments</a></li>
          <li><a routerLink="/advertisement/houses" routerLinkActive="active" appUnderlineItem>Houses</a></li>
          <li><a routerLink="/advertisement/hotels" routerLinkActive="active" appUnderlineItem>Hotels</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="auth.currentUser"><a routerLink="/profile" routerLinkActive="active" appStrongItem>Hello, {{auth.currentUserDisplayName | upperCaseFirstLetter | emailSplit}}</a></li>
          <li *ngIf="!auth.currentUser"><a routerLink="/login" routerLinkActive="active" appStrongItem>Log in</a></li>
          <li *ngIf="!auth.currentUser"><a routerLink="/register" routerLinkActive="active" appStrongItem>Register</a></li>
          <li *ngIf="auth.currentUser"><a routerLink="/home" routerLinkActive="active" appStrongItem (click)="logout()">Log out</a></li>
        </ul>
      </div>
    </nav>
  </div>