<div class="tabular-form">
  <div id="legend">
      <legend align="center">Home</legend>
  </div>
</div>

<fieldset class="animations">
  <div id="carousel-travellersApp" class="carousel slide" data-ride="carousel" data-interval="3000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-travellersApp" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-travellersApp" data-slide-to="1"></li>
          <li data-target="#carousel-travellersApp" data-slide-to="2"></li>
          <li data-target="#carousel-travellersApp" data-slide-to="3"></li>
          <li data-target="#carousel-travellersApp" data-slide-to="4"></li>
          <li data-target="#carousel-travellersApp" data-slide-to="5"></li>
          <li data-target="#carousel-travellersApp" data-slide-to="6"></li>
          <li data-target="#carousel-travellersApp" data-slide-to="7"></li>
          <li data-target="#carousel-travellersApp" data-slide-to="8"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" align="center">
          <div class="item active" id="firstImage">
              <img src="../../assets/images/image1.jpg" height="1200" width="800">
          </div>
          <div class="item" id="secondImage">
              <img src="../../assets/images/image2.jpg" height="1200" width="800">
          </div>
          <div class="item" id="secondImage">
              <img src="../../assets/images/image3.jpg" height="1200" width="800">
          </div>
          <div class="item" id="secondImage">
              <img src="../../assets/images/image4.jpg" height="1200" width="800">
          </div>
          <div class="item" id="secondImage">
              <img src="../../assets/images/image5.jpg" height="1200" width="800">
          </div>
          <div class="item" id="secondImage">
              <img src="../../assets/images/image6.jpg" height="1200" width="800">
          </div>
          <div class="item" id="secondImage">
              <img src="../../assets/images/image7.jpg" height="1200" width="800">
          </div>
          <div class="item" id="secondImage">
              <img src="../../assets/images/image8.jpg" height="1200" width="800">
          </div>
          <div class="item" id="secondImage">
              <img src="../../assets/images/image9.jpg" height="1200" width="800">
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#carousel-travellersApp" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-travellersApp" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</fieldset>